.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    gap: 26px;
    position: relative;
    width: 100dvw;
    left: -20px;
    padding: 0 20px;
    margin-top: 17px;
}

.container::-webkit-scrollbar {
    display: none;
}

.container svg {
    stroke: #32B768;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.item p {
    font-size: 10px;
    line-height: 18px;
    color: #000;
}

.icon_box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #CDD1D5;
}

.item:not(.all):not(.active) .icon_box svg {
    stroke: #B5B5B5;
}

.item.all .icon_box {
    background-color: #FFF;
    border: 2px solid #50BF50;
}


.item.active p {
    color: #32B768;
}


.category_radio_input {
    display: none;
}

.category_radio_input:checked + .item .icon_box {
    background-color: #C6ECBC;
    border: 2px solid #50BF50;
}

.category_radio_input:checked + .item p {
    color: #50BF50;
}

.category_radio_input:checked + .item .icon_box svg {
    stroke: #32B768;
}

.bottom_sheet_content {
    height: 200px;
    padding: 0 32px;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 15px;
}

.bottom_sheet_content .item_label {
}