.container {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    padding: 10px 16px 0 16px;
    background-color: #FFF;
    z-index: 5;
}

.logo {
    margin-left: 4px;
}

.logo a {
    display: block;
}
