.container {
    width: 100%;
    padding: 0 16px 54px 16px;
}

.avatar_box {
    margin: 20px auto 30px;
    width: 130px;
    height: 150px;
    border-radius: 20px;
    border: 2px solid #50BF50;
    overflow: hidden;
}