.container {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #494f54;
}

.select_box {
  width: 100%;
  height: 40px;
  border: 1px solid #a6abaf;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.select_box.active .arrow_icon {
  transform: rotate(180);
}

.select_box svg {
  transition: 0.2s;
  stroke: #cdd1d5;
}

.select_box.active svg {
  transform: rotate(180deg);
  stroke: #7b8287;
}

.select_list {
  margin-top: 20px;
  width: 100%;
  height: calc(100dvh - 420px);
  border-radius: 10px;
  border: 1px solid #50bf50;
  overflow-y: auto;
  padding: 20px 16px;
}

.select_list_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.item_box {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.item_box.active {
  background-color: #f3fcf2;
}

.info_box {
  margin-top: 22px;
  width: 100%;
  height: 50px;
  position: relative;
  border-radius: 20px;
  background-color: #50bf50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.info_box::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-bottom: 36px solid #50bf50;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  top: -33px;
  left: 11px;
}

.info_box p::before {
  content: "🔔";
  position: absolute;
  left: 0;
  font-size: 10px;
}

.info_box p {
  position: relative;
  padding-left: 18px;
}

.info_box p span {
  font-weight: 600;
}
