.container {
    width: 100%;
}

.container .toggle_input {
    display: none;
}

.toggle_box {
    position: relative;
    width: 100%;
    height: 52px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: #F6F6F6;
    border-radius: 10px;
}

.toggle_box li {
    text-align: center;
    z-index: 1;
}

.toggle_box::before {
    content: '';
    position: absolute;
    width: calc(50% - 4px);
    height: 44px;
    left: 4px;
    border-radius:10px;
    background: #FFF;
    transition: all 0.3s;
 }

 .toggle_box.slide::before {
    left: 50%;
 }

.topic_list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item_container {
    width: 100%;
    height: 88px;
    display: grid;
    grid-template-columns: 64px calc(100% - 124px) 20px;
    align-items: center;
    gap: 20px;
    padding: 0 16px;
    overflow: hidden;
    box-shadow: 4px 4px 10px 0px rgba(34, 34, 34, 0.06);
    border-radius: 10px;
}

.img_box {
    width: 64px;
    height: 64px;
    background-color: #E0F1DC;
    border-radius: 8px;
}

.content_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.content_box p:nth-child(1){
    color: #1f2937;
    font-size: 18px;
    font-weight: 600;
}

.content_box p:nth-child(2) {
    display: block;
    color: #b6b6b6;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.icon_box {
    position: relative;
    height: 100%;
    top: 52px;
}