.footer {
  padding-bottom: 54px;
}

.header {
  padding-top: 54px;
}

.appContainerWrap {
  display: flex;
  flex-flow: column;

  width: 100%;
  margin-right: auto;
  margin-left: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;

  background-color: #FFF;
}

.appContainerWrap::-webkit-scrollbar {
  display: none;
}