.container {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container span {
  color: #191b1c;
  font-size: 16px;
  font-weight: 500;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
  color: #cdd1d5;
  font-size: 16px;
  font-weight: 500;
}
