.container {
    width: 100%;
    position: relative;
}

.content {
    margin-top: 30px;
    width: 100%;
    padding: 0 16px 54px 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.logout {
    position: relative;
    left: 16px;
    font-size: 12px;
    font-weight: 600;
    color: #CDD1D5;
}