.category_box {
    margin-top: 9px;
}

.category_box .title {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
}

.topic_container {
    margin-top: 15px;
    margin-bottom: 24px;
}

.category_header {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.link_text {
    font-size: 15px;
    font-weight: 500;
    color: #50BF50;
}