.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  padding: 50px 32px;
}

.title {
  text-align: center;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}

.info_text {
  color: #858585;
  font-size: 12px;
}

.button_area {
  display: flex;
  gap: 12px;
  align-items: center;
}

.button_base {
  width: 142px;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}

.next_btn {
  background-color: #f9fafa;
  color: #dadbde;
}

.login_btn {
  background-color: #50bf50;
  color: #fff;
}
