.container {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    padding: 10px 16px 0 16px;
    z-index: 5;
}

.main {
    background-color: #50BF50;
}

.post {
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}

.right_box {
    display: flex;
    align-items: center;
    gap: 35px;
}

.close_button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -8px;
}
