.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.toggle_box {
    width: 38px;
    height: 20px;
    border-radius: 30px;
    position: relative;
    background-color: #e0e0e0;
}

.toggle_box .toggle_circle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #FFF;
    transition: 0.3s;
}

.toggle_box.active {
    background-color: #50BF50;
}

.toggle_circle.active {
    left: 20px;
}