.container {
    padding: 80px 16px 0 16px;
}

.inputLinkBox {
    width: calc(100dvw - 80px);
    height: 40px;
    background-color: #F3F3F3;
    border-radius: 8px;
    margin: 0 auto;
    padding: 0 12px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.inputLinkBox span {
    display: inline-block;
    font-size: 14px;
    color: #02050D59;
}

.category_container {
    margin-top: 26px;
}

.category_container .title {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 16px;
}








