.slide_img {
    width: 100%;
    position: relative;
    height: 179px;
    border-radius: 20px;
    overflow: hidden;
}

.img_main {
    /* position: relative; */
}

.img_shadow {
    /* position: inherit; */
}

.img_title {
    
}