.container {
  margin-top: 30px;
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content input {
  width: 100%;
  height: 50px;
  border: 1px solid #dadbde;
  border-radius: 10px;
  color: #000;
  font-size: 18px;
  padding: 0 16px;
}

.content input::placeholder {
  color: #dadbde;
  font-size: 14px;
}

.content p {
  color: #000;
  font-size: 14px;
}

.content p span {
  color: #13bd61;
}

.input_field:focus,
.input_field:hover {
  border: 1px solid #fe835c;
}

.input_field.active:focus,
.input_field.active:hover {
  border: 1px solid #50bf50;
}

.save_btn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #50bf50;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.save_btn:disabled {
  background-color: #e6e8eb;
  color: #7b8287;
}

.info_box {
  width: 180px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.info_box span {
  font-size: 12px;
  font-weight: 500;
  color: #cdd1d5;
}

.nickname_info_box {
  margin-top: 10px;
  width: 100%;
  padding: 0 16px;
  border-radius: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3fcf2;
}

.nickname_info_box p {
  font-size: 12px;
  font-weight: 500;
  color: #50bf50;
}

.nickname_info_box p span {
  font-weight: 600;
}
